.resultados, .alternativas {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    height: 100%;
}

.alternativas {
    margin-bottom: 10%;
}

#musify {
    color: white;
    position: relative;
    top: 0;
    left: 5%;
    font-size: 150%;
}

#buscador {
    position: absolute;
    right: 7%;
    width: 20%;
    top: 40%;
}

.resultados .cancion {
    display: none;
}

/* MEDIA QUERIES */

/* Tablet */

@media (min-width: 481px) and (max-width: 900px) {
    .top_escuchados {
        margin-bottom: 20%;
    }
}

/* Movil */

@media (max-width: 480px) {
    .alternativas {
        margin-bottom: 30%;
    }
}