.canciones_favoritas {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    height: 100%;
    margin-left: 7%;
}

.cancion {
    display: none;
}

#main_container {
    position: absolute;
    right: 0;
    width: 80%;
    height: 100%;
    background-color: rgb(43, 43, 43);
}

