.canciones_artista, .albumes_artista {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    height: 100%;
}

.albumes_artista {
    margin-bottom: 10%;
}

/* MEDIA QUERIES */

/* Tablet */

@media (min-width: 481px) and (max-width: 900px) {
    .albumes_artista {
        margin-bottom: 20%;
    }

    .foto_artista, .musica, .perfil_usuario {
        width: 140px;
        height: 140px;
    }
}

/* Movil */

@media (max-width: 480px) {
    .albumes_artista {
        margin-bottom: 30%;
    }

    .foto_artista, .musica, .perfil_usuario {
        width: 110px;
        height: 110px;
    }
}
