.cover{
    position: absolute;
    left: 1vh;
    bottom: 1vh;
    z-index: 5;
    width: 80px;

}

.info_cancion{
    position: absolute;
    left: 13vh;
    bottom: 1vh;
    z-index: 5;
    width: 15%;
    color: white;
    font-size: 2.2vh;
    overflow-wrap: break-word;
}

#track {
    width: 60%;
    position: absolute;
    background-color: #A6A7A9;
    bottom: 2vh;
    left: 20%;
    z-index: 10;
    cursor: pointer;
}

#progreso {
    float: left;
    height: 5px;
    width: 0%;
    background: white;
    cursor: pointer;
}

#circulo_progreso {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    top: 50%;
    left: 0%;
    margin-left: -10px;
    margin-top: -10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 5;
}

.control_audio {
    position: absolute;
    width: auto;
    left: 43.5%;
    bottom: 3vh;
}

.control {
    width: 50px;
    height: 50px;
    vertical-align: top;
    background-color: rgb(213, 213, 213);
    border: 2px solid #A6A7A9;
    border-radius: 50%;
    outline: none;
    margin: 7px;
    cursor: pointer;
}
.control:hover {
    background-color: white;
    transform: scale(1.05);
}
.control img {
    height: 20px;
    vertical-align: middle;
}

#imagen_play {
    padding-left: 5px;
}

#previo {
    padding-right: 5px;
}

#siguiente {
    padding-left: 4px;
}

.volumen{
	position: absolute;
	bottom: 6vh;
	right: 7vh;
	text-align: right;
	float: left;
}

/* MEDIA QUERIES */

/* Tablet */

@media (min-width: 481px) and (max-width: 900px) {
    .volumen{
        bottom: 8vh;
        right: 3vh;
    }

    .control{
        width: 60px;
        height: 60px;
    }

    .control_audio{
        left: 40%;
        bottom: 45%;
    }

    #track{
        left: 24%;
        bottom: 4.5vh;
    }

    #caratula_cancion{
        width: 15%;
    }

    .info_cancion{
        width:fit-content;
        top:46%;
        left: 30%;
    }

    .info_rep{
        float: right;
        position: relative;
        cursor: pointer;
    }

    #info_titulo_cancion{
        left: 10%;
    }

}

/* Movil */

@media (max-width: 480px) {
    .volumen{
        visibility: hidden;
    }

    .control_audio{
        top: 0%;
        left: 36%;
    }

    .control{
        width: 47px;
        height: 47px;
    }

    #caratula_cancion{
        width: 19%;
        bottom: 6%;
        left: 1%;
    }

    #track{
        left: 28%;
        bottom: 3.5vh;
    }

    .info_cancion{
        width:fit-content;
        top: 65%;
        left: 30%;
        font-size: 80%;
    }

    .info_rep{
        float: right;
        position: relative;
        cursor: pointer;
    }

    #info_titulo_cancion{
        left: 10%;
    }

}