#artistas_mas_escuchados, #canciones_mas_escuchadas, #canciones_favoritas, #tus_playlists, #usuarios_que_sigues, #canciones_favoritas_usuario {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    height: 100%;
    margin-left: 7%;
}

#usuarios_que_sigues {
    margin-bottom: 20%;
}

#canciones_favoritas .cancion {
    display: none;
}

.artista, .caratula, .usuario {
    position: relative;
}

.foto_artista, .musica, .perfil_usuario {
    display: block;
    position: relative;
    border: 3px solid black;
    border-radius: 10px;
    width: 180px;
    height: 180px;
    margin: 4px;
    z-index: 1;
}

.perfil_usuario {
    border-radius: 50%;
}

.foto_artista:hover, .musica:hover, .perfil_usuario:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#politicas {
    position: fixed;
    bottom: 15%;
    left: 1%;
    z-index: 3;
}

/* MEDIA QUERIES */

/* Tablet */

@media (min-width: 481px) and (max-width: 900px) {
    #usuarios_que_sigues {
        margin-bottom: 20%;
    }

    .foto_artista, .musica, .perfil_usuario {
        width: 140px;
        height: 140px;
    }
}

/* Movil */

@media (max-width: 480px) {
    #usuarios_que_sigues {
        margin-bottom: 30%;
    }

    .foto_artista, .musica, .perfil_usuario {
        width: 110px;
        height: 110px;
    }

    #politicas {
        display:none;
    }
}
