.novedades_canciones, .novedades_albumes {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    height: 100%;
    margin-left: 7%;
}

.novedades_albumes {
    margin-bottom: 10%;
}

.inicio_sesion {
    float: right;
    padding: 8px;
    position: relative;
    top: 30%;
    right: 2%;
    cursor: pointer;
}

.contador {
    background-color: black;
    position: relative;
    border-radius: 5px;
    color: white;
    width: 70%;
    left: 15%;
}

footer {
    font-size: x-large;
    position: fixed;
    bottom: 6%;
    left: 35%;
    height: 2.5vh;
    width: 100%;
    z-index: 3;
}

.anuncio {
    cursor: pointer;
}

/* MEDIA QUERIES */

/* Tablet */

@media (min-width: 481px) and (max-width: 900px) {
    .novedades_albumes {
        margin-bottom: 30%;
    }

    .musica {
        width: 140px;
        height: 140px;
    }

    .descripcion {
        width: 140px;
    }

    .caratula audio {
        width: 130px;
    }

    .reproductor {
        height: 30px;
    }

    footer{
        left: 30%;
        bottom: 5%;
    }
}

/* Movil */

@media (max-width: 480px) {
    .inicio_sesion {
        top: 25%;
        right: 2%;
        font-size: small;
    }

    .novedades_albumes {
        margin-bottom: 40%;
    }

    .musica {
        width: 110px;
        height: 110px;
    }

    .descripcion {
        width: 110px;
        font-size: 60%;
    }

    .caratula audio {
        width: 110px;
        left: 7px;
    }

    .reproductor {
        height: 30px;
    }

    .anuncio {
        position: relative;
        font-size: medium;
        right: 50px;
    }
}