body {
    background: #3893e3;
    overflow-x: hidden;
} 

.derecha {
    float: right;
    width: 75%;
    position: relative;
    top: 120px;
}

.izquierda {
    float: left; 
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: rgb(67, 102, 255);
    top: 0px;
    left: 0px;
    z-index: 2;
}

.playlist {
    position: relative;
    z-index: 1;
    height: 100%;
    margin-bottom: 20%;
}

#musify {
    color: white;
    position: relative;
    top: 0;
    left: 5%;
    font-size: 150%;
}

#musify_icono {
    position: relative;
    top: 7%;
    left: 2%;
    width: 45px; 
    height: 45px;
}

.menu {
    position: relative;
    left: 10%;
    top: 20%;
}

[id*="opcion"] {
    color: black;
    font-size: 20px;
    width: 200px;
    border-radius: 5px;
    transition-duration: 0.4s;
    margin-left: 10px;
    margin-bottom: 15px;
}

[id*="opcion"]:hover {
    background-color: #e7e7e7;
    width: 70%;
    cursor: pointer;
}

#home_icono, #biblioteca_icono, #crear_icono, #favorito_icono, #ajustes_icono {
    width: 25px;
    height: 25px;
}

#home, #home_icono {
    display: inline;
    font-size: x-large;
}

#biblioteca, #biblioteca_icono {
    display: inline;
    font-size: x-large;
}

#crear, #crear_icono {
    display: inline;
    font-size: x-large;
}

#favorito, #favorito_icono {
    display: inline;
    font-size: x-large;
}

#ajustes, #ajustes_icono {
    display: inline;
    font-size: x-large;
}

#politicas {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 8%;
    background-color: black;
}

.cabecera {
    width: 100%;
    position: fixed;
    height: 15%;
    right: 0;
    top: 0;
    background-color: black;
    z-index: 2;
}

a {
    color: white;
}

.subtitulo {
    font-size: 200%;
    width: 100%;
}

.cancion {
    cursor: move; /* especifica el tipo de cursor a mostrar*/
    position: relative;
    display: none;
    width: 500px;
    height: 170px;
    background-color: black;
    border-radius: 5px;
    margin-bottom: 2%;
}

#cancion_fija {
    display: block;
}

.musica {
    position: relative;
    border: 3px solid black;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    margin: 4px;
    z-index: 1;
}

.musica:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.descripcion, .caratula {
    display: inline-block;
    padding: 5%;
}

.descripcion {
    position: absolute;
    width: 100%;
    margin-top: 2%;
    overflow: visible;
    color: white;
}

.caratula {
    position: relative;
    width: 100px;
    height: 100px;
}

.caratula audio {
    width: 90px;
    position: relative;
    top: 30%;
    left: 10px;
    z-index: 2;
    display: none;
}

.caratula:hover audio {
    display: inline;
    cursor: pointer;
}

.reproductor {
    position: absolute;
    bottom: 8%;
    width: 100%;
    height: 70px;
}

.caratula, #borrar_cancion {
    display: inline-block;
}

.borrar_cancion {
    position: relative;
    width: 20%;
    height: 30px;
    bottom: 50px;
    left: 80%;
    background-color: black;
    color: white;
    border-radius: 5px;
}

#borrar_playlist {
    position: relative;
    width: 20%;
    padding: 2%;
    left: 35%;
    background-color: red;
    color: white;
    border-radius: 5px;
    margin-top: 2%;
    margin-bottom: 15%;
}

#panel_audio {
    width: 100%;
    position: fixed;
    bottom: 3%;
    left: 0;
    height: 20%;
    z-index: 3;
}

/* MEDIA QUERIES */

/* Tablet */

@media (min-width: 481px) and (max-width: 900px) {
    .izquierda {
        width: 30%;
    }

    .derecha {
        display: flex;
        flex-wrap: wrap;
        overflow-y: scroll;
        width: 65%;
    }
    
    .cabecera {
        z-index: 3;
        height: 10%; 
    }

    .menu {
        top: 15%;
    }

    .playlist {
        margin-bottom: 20%;
    }

    .cancion {
        width: 350px;
        height: 170px;
    }

    .musica {
        width: 130px;
        height: 130px;
        margin: 0;
        top: 0;
    }

    .descripcion {
        width: 140px;
        right: 5%;
    }

    .caratula audio {
        width: 130px;
    }

    .reproductor {
        height: 30px;
        left: 7%;
    }

    .borrar_cancion {
        left: 75%;
        bottom: 45%;
    }
    
    #borrar_playlist {
        width: 35%;
        margin-top: 10%;
        margin-bottom: 15%;
        left: 50%;
    }
    
}

/* Movil */

@media (max-width: 480px) {
    .izquierda {
        width: 20%;
    }

    .derecha {
        display: flex;
        flex-wrap: wrap;
        overflow-y: scroll;
        width: 75%;
        top: 80px;
    }

    .cabecera {
        height: 10%;
    }

    .menu {
        top: 15%;
        left: 20%;
        width: 35px;
    }
    
    #home, #biblioteca, #crear, #favorito, #ajustes {
        display: none;
    }

    [id*="opcion"] {
        width: 30px;
    }

    .subtitulo {
        font-size: 100%;
        width: 100%;
    }

    .cancion {
        width: 110%;
        height: 95px;
        margin-bottom: 5%;
    }

    .musica {
        width: 70px;
        height: 70px;
        margin: 0;
        top: 0;
    }

    .descripcion {
        width: 70px;
        font-size: 50%;
        right: 0;
    }

    .caratula audio {
        width: 70px;
    }

    .reproductor {
        height: 5px;
        top: 35%;
        left: 0;
    }

    .borrar_cancion {
        left: 110%;
        bottom: 85%;
        width: 30%;
    }
    
    #borrar_playlist {
        width: 80%;
        margin-top: 10%;
        margin-bottom: 15%;
        left: 40%;
    }

    .info {
        position: fixed;
        font-size: x-small;
        padding: 2%; 
    }

}
