.cover{
    position: absolute;
    left: 1vh;
    bottom: 1vh;
    z-index: 5;
    width: 80px;

}

.info_cancion{
    position: absolute;
    left: 14vh;
    bottom: 0.5vh;
    z-index: 5;
    width: 15%;
    color: white;
    font-size: 2.5vh;
    overflow-wrap: break-word;
}

#track {
    width: 60%;
    position: absolute;
    background-color: #A6A7A9;
    bottom: 3vh;
    left: 25%;
    z-index: 10;
    cursor: pointer;
}
#progreso {
    float: left;
    height: 5px;
    width: 0%;
    background: white;
    cursor: pointer;
}

#circulo_progreso {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    top: 50%;
    left: 0%;
    margin-left: -10px;
    margin-top: -10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 5;
}

.control_audio {
    position: absolute;
    width: auto;
    left: 47.5%;
    top: 0.75vh;
}

.control {
    width: 50px;
    height: 50px;
    vertical-align: top;
    background-color: rgb(213, 213, 213);
    border: 2px solid #A6A7A9;
    border-radius: 50%;
    outline: none;
    margin: 7px;
    cursor: pointer;
}
.control:hover {
    background-color: white;
    transform: scale(1.05);
}
.control img {
    height: 20px;
    vertical-align: middle;
}

#imagen_play {
    padding-left: 5px;
}

#previo {
    padding-right: 5px;
}

#siguiente {
    padding-left: 4px;
}

.volumen{
	position: absolute;
	top: 5vh;
	right: 1vh;
	text-align: right;
	float: left;
}