#main_container {
    height: 120%;
}

h2 {
    color: white;
    width: 100%;
}

#crear_playlist {
    background-color: black;
    border-radius: 6px;
    width: 90%;
    margin-bottom: 20%;
}

#editar {
    background-color: rgb(63, 58, 58);
    border-radius: 6px;
    width: 80px; 
    height: 80px;
    cursor: pointer;
}

#editar_icono {
    filter: invert(100%) sepia(0%) saturate(7498%) hue-rotate(173deg) brightness(102%) contrast(101%);
    position: relative;
    left: 15%;
    top: 15%;
    width: 60px;
    height: 60px;
}

#editar_icono:hover {
    transform: scale(1.02);
}

#editar, .nombre_playlist {
    display: inline-block;
    padding: 4%;
    position: relative;
    left: 4%;
}

#subir_foto {
    display: none;
} 

.texto1 {
    display: none;
    position: relative;
    left: 4%;
    color: rgb(118, 218, 118);
}

.texto2 {
    display: none;
    position: relative;
    left: 0;
    color: rgb(118, 218, 118);
}

.mostrar {
    display: block;
}

#nombre {
    width: 100%; 
    height: 40px;
    border-radius: 5px;
}

#cancion_playlist {
    position: relative;
    width: 70%;
    height: 50px;
    border-radius: 5px;
}

#boton_anadir_cancion {
    position: relative;
    width: 10%;
    left: 3%;
    height: 30px;
}

.add {
    left: 4%;
    position: relative;
    width: 100%;
}

#enviar {
    margin-top: 3%;
    margin-bottom: 2%;
    width: 20%; 
    height: 50px;
    color:black;
    font-weight: bold;
    background-color:rgb(20, 145, 241);
    position: relative;
    left: 30%;
}

#cancelar {
    margin-top: 3%;
    margin-bottom: 2%;
    width: 20%; 
    height: 50px;
    color:black;
    font-weight: bold;
    background-color:rgb(238, 49, 49);
    position: relative;
    left: 30%;
}

/* MEDIA QUERIES */

/* Tablet */

@media (min-width: 481px) and (max-width: 900px) {
    #crear_playlist {
        margin-top: 10%;
        margin-bottom: 2%;
        width: 95%;
    }

    #boton_anadir_cancion {
        width: 15%;
    }

    #enviar, #cancelar {
        width: 30%;
        left: 20%;
        margin-top: 10%;
        margin-bottom: 5%;
    }
}

/* Movil */

@media (max-width: 480px) {
    .contenido {
        width: 90%;
        margin-right: 3%;
    }

    #crear_playlist {
        margin-top: 15%;
        margin-bottom: 2%;
        width: 95%;
    }

    .editar {
        left: 5%;
        top: 3%;
        padding: 2%;
        width: 60px; 
        height: 60px;
    }

    #editar_icono {
        left: 10%;
        top: 10%;
        width: 50px;
        height: 50px;
    }

    h2 {
        font-size: small;
    }

    .nombre_playlist {
        top: 5%;
        padding: 2%;
    }

    #nombre {
        width: 90%;
        height: 20px;
        margin-bottom: 15%;
    }

    .texto1 {
        font-size: x-small;
    }

    .texto2 {
        font-size: x-small;
    }

    #cancion_playlist {
        height: 20px;
        width: 60%;
    }

    #boton_anadir_cancion {
        height: 20px;
        width: 20%;
    }

    #enviar, #cancelar {
        width: 30%; 
        height: 30px;
        left: 20%;
        margin-top: 10%;
        margin-bottom: 10%;
    }
}